body {
    min-height: 100vh;
}

.carousel-image-gradient {
    width: inherit;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background: linear-gradient(to top, black, transparent, transparent);
}